<launch>
  <!-- This file contains nodes that form the base on which the robot stack can be run. -->

  <arg name="launch_vicon" default="true" />

  <include file="$(find brobohub)/launch/base.launch">
    <arg name="config" value="brobohub_um7" />
  </include>
  <include file="$(find brobohub)/launch/um7.launch"/>

  <!-- VICON (for positioning) -->
  <!--
    FIXME: Could revert to the RoboHub vicon repo and replace max_publish_frequency
    with http://wiki.ros.org/topic_tools/throttle
  -->
  <include file="$(find vicon_bridge)/launch/vicon.launch" if="$(arg launch_vicon)">
    <arg name="datastream_hostport" value="129.97.71.102:801"/>
    <arg name="vicon_world_frame" value="map"/>
    <arg name="max_publish_frequency" value="1.0"/>
  </include>

  <!--
    Directly transform global measurements to tf (no filtering).
    This can produce jumps in the map->odom transform when the global measurements are updated.
    /vicon/ben_jackal2/ben_jackal2 is published by the VICON system
  -->
  <!-- https://discourse.ros.org/t/map-base-odom-as-alternative-for-rep-105-recommended-frame-order/25095 -->
  <node name="map_to_odom_publisher" pkg="map_to_odom_publisher" type="map_to_odom_publisher" output="screen">
    <param name="transform_stamped_topic" value="/vicon/ben_jackal2/ben_jackal2"/>
    <param name="publish_frequency" value="50"/>
  </node>

  <!-- Telemetry -->
  <node name="foxglove_bridge" pkg="foxglove_bridge" type="foxglove_bridge" output="screen" />
</launch>
