<launch>
  <!-- This file contains nodes that form the base on which the robot stack can be run. -->

  <arg name="launch_vicon" default="true" />

  <include file="$(find brobohub)/launch/base.launch">
    <arg name="config" value="brobohub_um7" />
  </include>
  <include file="$(find brobohub)/launch/um7.launch"/>

  <!-- VICON (for positioning) -->
  <include file="$(find brobohub)/launch/vicon.launch" if="$(arg launch_vicon)" />

  <!-- throttle position measurements to mimic GPS rate -->
  <node name="vicon_throttle" pkg="topic_tools" type="throttle" args="messages /vicon/ben_jackal2/ben_jackal2/odom 1.0 /vicon/ben_jackal2/ben_jackal2/odom/throttled" />

  <!--
    Republish the platform-specific odometry topic as a platform-agnostic topic.
    Also does the following:
    - Injects pose covariance into the global odometry message
    - Set child_frame_id to base_link
  -->
  <node name="global_odom_publisher" pkg="topic_tools" type="transform" required="true"
    args="/vicon/ben_jackal2/ben_jackal2/odom/throttled /global_localization/robot/odom nav_msgs/Odometry 'm.child_frame_id=&quot;base_link&quot;; m.pose.covariance=[0.2, 0, 0, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 0, 0, 1e6, 0, 0, 0, 0, 0, 0, 1e6, 0, 0, 0, 0, 0, 0, 1e6, 0, 0, 0, 0, 0, 0, 0.09]; m'" />

  <!-- Relay IMU messages to our hardware-agnostic topic -->
  <node name="imu_relay" pkg="topic_tools" type="relay" args="/imu_um7/data_raw /bbase/imu/data_raw" />

  <!-- Telemetry -->
  <node name="foxglove_bridge" pkg="foxglove_bridge" type="foxglove_bridge" output="screen" respawn="true" />
</launch>
